@import "../../variables";
@import "../../shared-styles";

.bannerWS {
  height: 600px;
  margin-bottom: 0px;
  width: 100%;
  background: $deepblue;
  background-image: url("../../assets/co-corricular.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  @media screen and (max-width: 620px) {
    height: 300px !important;
    margin-bottom: 100px !important;
  }
}
// .wellspring-header {
//   .page-shadow .after {
//     height: 680px !important;
//   }
// }
.mission-section {
  // height: 500px;
  padding: 150px;
  border: solid 1px red;
  margin-top: 0 !important;
  h2 {
    color: $yellow;
  }
  p {
    color: #fff;
  }
  
}
