

/* boring stuff */


.directory-tab-container {
  margin: 0 auto;
  display: block;
  width: 100%;
  > *:not(.tab-wrap1) {
    padding: 0 80px;
  }
.directory-tab-container {
  margin: 0 auto;
  display: block;
  width: 100%;
  > *:not(.tab-wrap1) {
    padding: 0 80px;
  }
.directory-tab-container {
  margin: 0 auto;
  display: block;
  width: 100%;
  > *:not(.tab-wrap1) {
    padding: 0 80px;
  }


$max-tab-count: 5;
$tab-wrap-border-radius: 6px;
.tab-wrap1 {
  transition: 0.3s box-shadow ease;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  list-style: none;
  background-color: #fff;
  &:hover {
  }
}

.tab {
  display: none;
  @for $i from 1 through $max-tab-count {
    &:checked:nth-of-type(#{$i}) ~ .tab__content:nth-of-type(#{$i}) {
      opacity: 1;
      transition: 0.5s opacity ease-in, 0.8s transform ease;
      position: relative;
      top: 0;
      z-index: 100;
      transform: translateY(0px);
      text-shadow: 0 0 0;
    }
  }
  &:first-of-type:not(:last-of-type) + label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &:not(:first-of-type):not(:last-of-type) + label {
    border-radius: 0;
  }
  &:last-of-type:not(:first-of-type) + label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  &:checked + label {
    background-color: #fff;
    box-shadow: 0 -1px 0 #fff inset;
    cursor: default;
    &:hover {
      box-shadow: 0 -1px 0 #fff inset;
      background-color: #fff;
    }
  }
  + label {
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #333;
    text-align: center;
    user-select: none;
    text-align: center;
    transition: 0.3s background-color ease, 0.3s box-shadow ease;
    padding:5px;
    border-bottom:yellow !important;
    // font-size:8px;
    &:hover {
      border-bottom:red !important;
    }
  }
  &__content {
   
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: 0;
    left: 0;
    transform: translateY(-3px);
    
  }
}

}
