@import "../../variables";
@import "../../shared-styles";

.dropdown-menu {
    width:330px;
    margin-bottom:-15px !important;
    border:0 !important;
    padding-top:0px !important;
    border-top-left-radius: 7px !important;
border-top-right-radius: 7px !important;

}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width:  600px !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}




.message-head{
    height:100px;
    padding:40px;
    text-align: center;
background:$lightblue2;
color:#fff;
}

.btn.show{
    background-color:#fff !important;
        border:0 !important;

  
}
.btn{
     border:0 !important;
    width:330px !important;
background-color:rgb(24,61,109) !important;
border-radius:0 !important;
border-top-left-radius: 7px !important;
border-top-right-radius: 7px !important;
//  &:hover{
//     background-color:rgb(24,61,109);
//    }
}

.form-container{
    background-color:#fff;
    padding:20px 5px;
    // border:solid 2px black;
    height:fit-content;
    border-radius:5px;
    margin-top:-40px;
    margin: left 3px;
    margin-right:3px;
}