@import "../../variables";
@import "../../shared-styles";

.dropdown-menu {
    width:310px;
    margin-bottom:-15px;
    border:0 !important;
    padding-top
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width:  600px !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}



.message-head{
    height:fit-content;
    padding:40px;
    text-align: center;
background:$lightblue2;
color:#fff;
}

.btn.show{
    background-color:#fff;
        border:0 !important;

   
}
.btn{
    width:310px !important

}