@import "../../variables";
@import "../../shared-styles";



.footer-container{
    height:fit-content;
color:#fff;
    .links-container{
        height:250px;
        padding:40px;
        background-color:rgb(1,75,145);
        ul li{
            line-height: 35px;
            
        }
    }
    .footer-links-alteration{
        color:#fff;
        font-size:19px;
        text-decoration: none;
&:hover{
    color:$yellow;
}
    }
    .footer-logo-container{
        height:fit-content;
        padding:40px 10px 130px 10px;
        background-color:$lightblue2;
    }

    .address-container{
        padding-top:20px;
        height:200px;
        background:$deepblue;
      font-size:12px;
        .link-alteration{
              color:#fff !important;
            font-weight:200;
            font-size:14px;
            &:hover{
                color:$yellow !important;
            }
        }
    }



    .footer-handles-container{
         padding:40px 60px;
        height:fit-content;
        background-color:rgb(1,75,145);
      
    }
    .link-alteration{
        color:white !important;
        font-size:20px !important;
&:hover{
            color:$yellow !important;
        }

    }
    .link-icon-alteration{
        font-size:30px;
        &:hover{
            color:rgb(186, 183, 183) !important;
        }
    }



     .sighoff-container{
        padding-top:20px;
        height:200px;
        background:$deepblue;
      font-size:12px;
        .link-alteration{
              color:#fff !important;
            font-weight:200;
            font-size:14px;
            &:hover{
                color:$yellow !important;
            }
        }


         .educare {
    margin-top: 20px;
    p {
      font-size: 12px;
      color: grey;
      margin-top: 10px;
      margin-right: 5px;
    }
    img {
      width: 100px;
    }
  }
    }
   
}