.footer-container{
    height:fit-content;
color:#fff;
    .links-container{
        height:fit-content;padding:50px;
        background-color:$lightblue;
        ul li{
            line-height: 35px;
            
        }
    }
    .foot-links-alteration{
        color:#fff;
        font-size:20px;
        text-decoration: none;

    }
}