@import "../../variables";

.search-container {
  position: relative;
  // float: right;
}

.searchMenu {
  background: #ffffff;
  //   border-radius: 8px;
  position: absolute;
  top: 33px;
  right: 0;
  width: 300px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.searchMenu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.searchMenu-trigger {
  background: inherit;
  cursor: pointer;
  border: none;
  transition: box-shadow 0.4s ease;
  margin-top: 0 !important;
  color: #fff !important;
  @media screen and (max-width: 620px) {
    margin-left: 90%;
    margin-top: -30px !important;
  }
}
.topnav input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container {
  float: right !important;
}
