@import "../../variables";
@import "../../shared-styles";

.top-nav-container{
    width:100%;
    background:$yellow;
    height:35px;
    ul li {
        font-size:15px;
        text-decoration: none !important;
        margin-right:40px !important;
        margin-top:10px !important;
        
    }
   
}

.logo-container{
    background:$dee
}