.dropdown-menu {
    background: rgba(255,255,255,0.8) !important;
    width:330px !important;
    position: absolute;
    top: 46px !important;
    list-style: none;
    text-align: start;
    left: auto !important;
    margin-left: 250px;
    padding: 0px;
}

.dropdown-menu::before{
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 100%;
	left: 1.5em;
	border: .75rem solid transparent;
	border-top: none;
	border-bottom-color: white;
	filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

.dropdown-menu li {
    /* background: rgba(78,161,73,0.1)!important; */
    cursor: pointer;
    color: rgb(31,71,17) !important;
    text-align: left !important;
}

.dropdown-menu li:hover {
    background: transperent;
    border-bottom: 1px solid #fff;
}

.dropdown-menu.clicked {
    display: block;
}

.dropdown-menu li a{
    color: rgb(31,71,17);
    text-decoration: none;
    border-bottom:solid 1px rgb(31,71,17)
}

.dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 16px;
}

@media screen and (max-width: 960px) {
    .fa-caret-down {
        display: none;
    }
}
