@import "../../variables";
@import "../../shared-styles";
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

$nav-links: about, products, media, contact us;

* {
  box-sizing: border-box;
}
.navbar-container2 {
  height: 10px;
  background: rgb(0, 79, 157) !important;
  box-shadow: none !important;
  position: fixed;
  padding-right: 10px;
  z-index: 200000000000000000000;
  // max-height: 50vh !important;
  padding-bottom: 100px !important;
  transition: transform 200ms ease-in;
  top: 0px;
  transform: translateY(0);
  @media screen and (max-width: 620px) {
    height: 100px !important;
    width: 100%;
  }
  &.home {
    background: transparent !important;
  }
  &.hide {
    top: -130px;
    transform: translateY(-100%);
  }

  .hide-logo {
    visibility: hidden;
  }
  .top-links {
    ol li {
      font-weight: 200;
    }
  }
  h1 {
    color: #fff !important;
  }
  ol li {
    font-size: 12px;
    margin: 10px;
    @media screen and (max-width: 620px) {
      margin: 15px 0;
    }
    .link-alteration {
      color: #fff !important;
    }
  }
  .dropdown-menu {
    -webkit-transition: height 0.5s ease !important;
    -webkit-transition-delay: 0.4s !important;
    border-radius: none !important;
    width: 200px;
    transition: height 0.5s ease !important;
    height: fit-content;
  }

  .dropdown-menu.show {
    opacity: 1 !important;

    display: block;
    -webkit-transition: height 0.5s ease !important;
    -webkit-transition-delay: 0.4s !important;
    transform: translateY(0);
  }
  .loggo-div {
    margin-top: -20px;
    @media screen and (max-width: 620px) {
      margin-left: 0 !important;
      margin-top: -100px;
    }
    img {
      @media screen and (max-width: 620px) {
        height: 10px !important;
        width: 10px;
        display: none;
      }
    }
  }
  .main-links {
    @media screen and (max-width: 620px) {
      display: none;
    }
  }
}

.ReactPlayground-StyledExample-module--cls2--Z1-mo {
  border: none !important;
}

.navbar-container {
  background: inherit !important;
  box-shadow: none !important;
  position: relative;
  z-index: 200000000000000000000;
  .cool-link3::after {
    content: "";
    display: block;
    width: 0;
    height: 4px;
    background: $yellow;
    transition: width 0.3s;
    position: relative;
    z-index: 300000000000000;
    margin-top: -35px;
  }

  .cool-link3:hover::after {
    width: 100%;
  }
}

.bg-light {
  --bs-bg-opacity: 0;
  background: inherit !important;
}

// .nav-link {
//   color: #fff !important;
//   margin-top: -35px !important;
//   font-weight: 900;
//   margin-left: 10px;
// }

.navbar-expand-lg .navbar-nav .nav-link {
  transition: box-shadow 0.4s ease;
}
.dropdown-item {
  font-size: 14px;
  color: $lightblue2 !important;
}

.cool-link::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background: $yellow;
  transition: width 0.3s;
  position: relative;
  z-index: 300000000000000;
}

.cool-link:hover::after {
  width: 100%;
}
.mobile-menu {
  @media screen and (min-width: 620px) {
    display: none;
  }
  nav {
    background: inherit;
    height: 60px;
    position: relative;
  }
  .nav-links {
    display: block;
    position: absolute;
    padding: 0 !important;
    margin: 0 !important;
    top: 60px;
    left: 0;
    width: 100%;
    background: transparent;
    // Dark overlay on open nav
    &::before {
      background: inherit;
      content: "";
      height: 100vh;
      left: 0;
      top: 0;
      position: absolute;
      opacity: 0;
      visibility: hidden;
      width: 100%;
      transition: all 0.3s;
    }
    li {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-20px);
      transition: all 0.3s;
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }
  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    // Nav open styling - achieved with ':checked' selector
    &:checked + label {
      margin-top: -30px;
      left: 90% !important;
      border: 4px solid silver;
      border-radius: 50%;
      height: 28px;
      top: 16px;
      left: 18px;
      width: 28px;
      transform: rotate(-135deg);
      &::before {
        background: silver;
        top: 8px;
        left: 4px;
        width: 12px;
      }
      &::after {
        background: #fff;
        opacity: 1;
        top: 8px;
        left: 4px;
        visibility: visible;
        width: 12px;
      }
      &:hover {
        border-color: #fff;
        &::before,
        &::after {
          background: #fff;
        }
      }
    }
    &:checked ~ .nav-links {
      &::before {
        opacity: 1;
        visibility: visible;
      }
      li {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);

        @for $i from 1 through length($nav-links) {
          &:nth-child(#{$i}) {
            transition-delay: ($i - 1)/10 + s;
          }
        }
      }
    }
  }

  // Styling of the linked label element
  label {
    background: none transparent;
    border: 4px solid #fff;
    border-left: 0 solid transparent;
    border-right: 0 solid transparent;
    cursor: pointer;
    display: block;
    height: 24px;
    position: absolute;
    top: 18px;
    left: 20px;
    width: 24px;
    transition: all 0.2s;
    margin-top: -30px;
    left: 90% !important;
    &::before {
      background: #fff;
      content: "";
      height: 4px;
      left: 0;
      position: absolute;
      top: 6px;
      width: 24px;
      transition: all 0.2s;
    }
    &::after {
      background: coral;
      content: "";
      height: 4px;
      left: 0;
      position: absolute;
      top: 6px;
      opacity: 0;
      visibility: hidden;
      width: 100%;
      transform: rotate(90deg);
      transition: all 0.2s;
    }
  }
}
