@import "../../variables";
@import "../../shared-styles";

.navbar-container2 {
  background: $deepblue !important;
  box-shadow: none !important;
  position: relative;
  z-index: 200000000000000000000;
}

.ReactPlayground-StyledExample-module--cls2--Z1-mo {
  border: none !important;
}
