@import "../../variables";
@import "../../shared-styles";

.navbar-container2 {
  background: $deepblue !important;
  box-shadow: none !important;
  position: fixed;
  z-index: 200000000000000000000;
  // max-height: 50vh !important;
  padding: 0px 0;
  transition: transform 200ms ease-in;
  top: 0px;
  &.home {
    background: transparent !important;
  }
  &.hide {
    top: -130px;
    transform: translateY(-100%);
  }
  .hide-logo {
    visibility: hidden;
  }
  h1 {
    color: #fff !important;
  }
}

.ReactPlayground-StyledExample-module--cls2--Z1-mo {
  border: none !important;
}
