

.navCont{
    position: relative;
    /* display: flex; */
    width:100%;
    /* justify-content: space-between; */
    /* margin: 0 auto; */
    /* max-height: 5rem; */
    
    padding-left:120px;
    padding-right:120px;

}

.nav-links{
    font-size:10px !important;
}


.imgCont{
    position: relative;
}

.imgContent{
    position: absolute;
    z-index: 1;
    height: 6vw;

}





@media screen and (max-width: 620px) {
    .navCont{
        position: relative;
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: 0 auto;
        max-height: 5rem;
    }

.navCont{
    
    padding-left:0px;
    padding-right:1px;

}
    .imgContent{
        position: relative;
        z-index: 1;
        height: 16vw;
        

    }

}



@media screen and (min)
