@import "../../variables";
@import "../../shared-styles";

.navbar-container2 {
  height: 100px;
  background: $lightblue !important;
  box-shadow: none !important;
  position: fixed;
  z-index: 200000000000000000000;
  // max-height: 50vh !important;
  padding: 0px 0;
  transition: transform 200ms ease-in;
  top: 0px;
  transform: translateY(0);

  &.home {
    background: transparent !important;
  }
  &.hide {
    top: -130px;
    transform: translateY(-100%);
  }

  .hide-logo {
    visibility: hidden;
  }
  h1 {
    color: #fff !important;
  }
  ul li {
    font-size: 12px;
    margin: 10px;
    .link-alteration {
      color: #fff !important;
    }
  }
}

.ReactPlayground-StyledExample-module--cls2--Z1-mo {
  border: none !important;
}

.navbar-container {
  background: inherit !important;
  box-shadow: none !important;
  position: relative;
  z-index: 200000000000000000000;
}

.bg-light {
  --bs-bg-opacity: 0;
  background: inherit !important;
}

// .nav-link {
//   color: #fff !important;
//   margin-top: -35px !important;
//   font-weight: 900;
//   margin-left: 10px;
// }

.navbar-expand-lg .navbar-nav .nav-link {
  transition: box-shadow 0.4s ease;
}
.dropdown-item {
  font-size: 14px;
  color: $lightblue2 !important;
}

.dropdown-menu {
  -webkit-transition: height 0.5s ease !important;
  -webkit-transition-delay: 0.4s !important;
  border-radius: none !important;
  width: 200px;
  transition: height 0.5s ease !important;
  height: fit-content;
}

.dropdown-menu.show {
  opacity: 1 !important;

  display: block;
  -webkit-transition: height 0.5s ease !important;
  -webkit-transition-delay: 0.4s !important;
  transform: translateY(0);
}
.cool-link::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background: $yellow;
  transition: width 0.3s;
  position: relative;
  z-index: 300000000000000;
}

.cool-link:hover::after {
  width: 100%;
}
