@import "../../variables";
@import "../../shared-styles";



.navContainer{
    background-color:
   #fff;
    min-height: 2.6rem;
    // position: fixed;
    z-index: 1;
    right: 0;
    width: 100%;
    top: 0;
    position:relative;
        z-index: 50000000000000000000000000000000000000000000000000000 !important;








}





