@import "./variables";

@media screen and (max-width: 620px) {
  .flexyM {
    display: flex !important;
  }
  .side-menu {
    display: none !important;
  }
  .page-body {
    padding: 20px;
  }

  .dn {
    display: none;
  }
  .holder img {
    height: 200px;
    margin-top: 40px !important;
  }
  .overlay {
    bottom: -30px !important;
  }
  .m-margin {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .navigations {
    display: none;
  }
  .breadcrum {
    margin-top: 350px !important;
  }
}
@media screen and (min-width: 620px) {
  .flexy {
    display: flex;
  }
  .spread {
    display: flex;
  }
  // {
  //   display:none;
  // }
}

/* Container needed to position the overlay. Adjust the width as needed */
.holder {
  position: relative;
  width: 100%;
}

.side-nav2 {
  @media screen and (max-width: 620px) {
    padding: 0 10px 0;
  }
}
.br {
  border-radius: 10px;
}
.mt1 {
  margin-top: 10px;
}
.mt2 {
  margin-top: 20px;
}
.mt3 {
  margin-top: 30px;
}
.mt4 {
  margin-top: 40px;
}
.mt5 {
  margin-top: 50px;
}
.mt6 {
  margin-top: 60px;
}
.mt7 {
  margin-top: 70px;
}
.mr1 {
  margin-right: 10px;
}
.mr2 {
  margin-right: 20px;
}
.mr3 {
  margin-right: 30px;
}
.mr4 {
  margin-right: 40px;
}
.mr5 {
  margin-right: 50px;
}
.mr6 {
  margin-right: 60px;
}
.mr7 {
  margin-right: 70px;
}
.mb1 {
  margin-bottom: 10px;
}
.mb2 {
  margin-bottom: 20px;
}
.mb3 {
  margin-bottom: 30px;
}
.mb4 {
  margin-bottom: 40px;
}
.mb5 {
  margin-bottom: 50px;
}
.mb6 {
  margin-bottom: 60px;
}
.ml2 {
  margin-left: 20px;
}
.ml3 {
  margin-left: 30px;
}
.ml4 {
  margin-left: 40px;
}
.ml5 {
  margin-left: 50px;
}
.ml6 {
  margin-left: 60px;
}
.tc2 {
  // color: $themecolor2 !important;
}

.tc {
  // color: $themecolor !important;
}
.tac {
  text-align: center;
}
.link-alteration {
  color: rgb(57, 55, 55) !important;
  text-decoration: none;
  &:hover {
    color: rgb(243, 243, 148) !important;
  }
}
.link-icon-alteration {
  color: #fff !important;
  text-decoration: none;
  font-weight: 900;
  &:hover {
    color: rgb(243, 243, 148) !important;
  }
}

.page-header {
  color: $lightblue;
  font-size: 60px !important;
  margin-bottom: 0 !important;
}

.page-container {
  .page-top {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.page-background {
  padding-top: 60px;

  @media screen and (max-width: 620px) {
    height: 350px;
  }
}
.page-shadow .after {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100% !important;
  min-height: 600px !important;
  color: #fff;
  display: block;
  background: $deepblue;

  opacity: 0.5;
  mix-blend-mode: normal;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  @media screen and (max-width: 620px) {
    height: 75%;
  }
}
.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-weight: bold;
  transform: translate(-50%, -50%);
  @media screen and (max-width: 620px) {
    top: 30%;
  }
  small {
    font-family: brother-light;
    font-size: 20px !important;
    font-weight: 300;
  }
  h1 {
    font-weight: bold;
    font-size: 70px !important;
    text-align: center;
    font-family: brother-bold;
  }
  h2 {
    font-family: brother-bold !important;
  }
  p {
    color: $yellow;
    font-size: 30px !important;
    font-family: brother-regular;
  }
  button {
    border: 3px solid $yellow;
    background: transparent;
    color: rgb(195, 192, 192);
    padding: 12px 50px;
    font-size: 16px;
    &:hover {
      background: $lightblue !important;
      color: #fff;
      transition: 0.5s ease;
    }
  }
  .banner-p-heading {
    font-size: 40px !important;
    font-family: brother-medium-italic !important;
    color: $yellow !important;
    font-weight: bold;
  }
}

.page-menu {
  ul li {
    margin: 10px 40px;
    font-size: 18px !important;
    @media screen and (max-width: 620px) {
      margin: 10px 10px;
      font-size: 15px !important;
    }
    :hover {
      color: $deepblue !important;
    }
  }
  .link-alteration {
    color: grey !important;
    font-family: brother-medium;

    span i {
      color: $lightblue;
      font-size: 16px;
      font-weight: bold;
    }
  }

  li:after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width 0.3s ease, background-color 0.5s ease;
  }
  li:hover:after {
    width: 100%;
    background: $yellow;
  }

  .menu-container {
    position: relative;
  }

  .menu {
    background: rgb(0, 79, 157);
    position: absolute;
    top: 40px;
    right: 0;
    width: 270px !important;
    opacity: 0;
    padding: 15px !important;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
    height: fit-content;
    z-index: 30000000;
    @media screen and (max-width: 620px) {
      margin-left: 20px;
    }
    .link-alteration {
      color: #fff !important;
      font-weight: bold;
    }
    ul li {
      padding: 0 !important;
      margin: 0 !important;
      border-bottom: none !important;
    }
    .inner-list {
      padding-left: 30px !important;
    }
    span i {
      color: #fff !important;
    }
    h6 {
      color: #fff !important;
      float: right;
    }
  }

  .menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .menu-trigger1 {
    background: inherit;
    cursor: pointer;
    border: none;
    margin-top: 0 !important;
    color: $lightblue2;
    font-family: brother-bold;
    font-size: 18px !important;
    @media screen and (max-width: 620px) {
      margin-left: 20px;
    }
  }
}
.page-content {
  margin-left: 80px;
  @media screen and (max-width: 620px) {
    margin-left: 0px;
  }
  .dot {
    height: 10px;
    width: 10px;
    margin-right: 20px;
  }

  .page-headings {
    color: $lightblue2;
    font-family: brother-bold;
  }
  .page-headings2 {
    color: $deepblue;
  }

  .random-button {
    color: $lightblue2;
    background-color: transparent;
    border: solid 2px $yellow;
    padding: 14px 55px;
    font-weight: bold;
    &:hover {
      background-color: $lightblue2;
      transition: 0.5s ease;
      color: #fff;
    }
  }
  small {
    font-size: 11px;
  }
}
.header-wrapper {
  overflow: hidden;

  text-align: center;
}

.zoominheader {
  -webkit-animation: zoomin 5s ease-in;
  animation: zoomin 5s ease-in;
  transition: all 0.1s ease-in-out;
  overflow: hidden;
}

/* The innermost element*/
.zoomoutheader {
  -webkit-animation: zoomout 10s ease-in;
  animation: zoomout 10s ease-in;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

/* Zoom in Keyframes */
@-webkit-keyframes zoomin {
  0% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1);
  }
  // 100% {transform: scale(1);}
}
@keyframes zoomin {
  0% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1);
  }
  // 100% {transform: scale(1);}
} /*End of Zoom in Keyframes */

.mobile-li {
  @media screen and (max-width: 620px) {
    display: none;
  }
}

.web-li {
  @media screen and (min-width: 620px) {
    display: none;
  }
}
.banner-link {
  color: $yellow;
  // font-weight: 300;
  text-decoration: none;
  border-bottom: solid 2px $yellow;
  transition: 0.5s ease;
  &:hover {
    color: $yellow;
    border-bottom: solid 2px #fff;
  }
}
.zoominheader {
  min-height: 600px !important;
  @media screen and (max-width: 620px) {
    width: 100%;
    // height: 300px;
  }
}
.page-content {
  @media screen and (max-width: 620px) {
    padding: 0 5px 0;
    margin-left: 0 !important;
  }

  p {
    font-weight: 300;
    color: black;
    line-height: 35px;
    font-family: brother-regular;
    font-size: 1.1rem;
  }
  ul li {
    font-weight: 300;
    color: black;
    line-height: 35px;
    font-family: brother-regular;
    font-size: 1.1rem;
  }

  ul li {
    font-family: brother-regular;
  }
  button {
    font-family: brother-regular;
  }
}
.random-link {
  color: black;
  // font-weight: 300;
  text-decoration: none;
  border-bottom: solid 3px $yellow;
  transition: 0.5s ease;
  &:hover {
    color: $lightblue;
    border-bottom: solid 3px $lightblue;
  }
}
// h1 {
//   font-family: brother-bold !important;
// }
// h2 {
//   font-family: brother-bold !important;
// }
// h3 {
//   font-family: brother-bold !important;
// }
// h4 {
//   font-family: brother-bold !important;
// }
// h5 {
//   font-family: brother-bold !important;
// }
// h6 {
//   font-family: brother-bold !important;
// }
// ul li {
//   ::before {
//     content: "";
//     height: 5px;
//     width: 5px;
//     background: $lightblue;
//   }
// }
