@import "../../variables";
@import "../../shared-styles";

.backdropClassName{
  width:30% !important;
}	


.leaders-profile {
        text-align: center;
margin-bottom:50px;
    h4{
           color:$lightblue2;

    }
    small{color:grey;}
    img{
        height:400px;
    }
  .profile-name {
    
    h6 {
      color: #fff;
      position: absolute;
      margin-left: 125px !important;
      background-color: rgba(24,60,118,0.7);
      padding: 10px 30px;
      top:115%;
    }
  }
}
.offcanvas-profile-name{
    padding:20px;
    height:100px;
    text-align:center;
    background:rgb(245,245,245);
    margin-top:0;
       h2{
           color:$lightblue2;

    }
      small{color:grey;}
}
.offcanvas-leaders-profile{
    img{
        height:530px;
// margin-top:-30px !important;
    }
    .profile-portfolio{
        
        h6{
             color: #fff;
      margin-left:59% !important;
      background-color: rgba(24,60,118,0.7);
      padding: 10px 30px;
    //   top:45%;
    position:relative;
    
    margin-top:-43px;
        }
    }
}
.offcanvas-body{
    padding:0 !important;
}
.offcanvas-header .btn-close {
    background:$lightblue !important;
    margin-bottom:-100px !important;
    position:relative;
    z-index:300000;
}
.btn-close{
    color:yellow !important;
opacity:1 !important;
 margin-left:90% !important;
    border-radius:0 !important;
    font-size:30px !important;
font-weight:bold !important;
}
.profile-body{
    padding:40px !important;
    p{
        line-height:35px;
    }
}