.leaders-profile {
  .profile-name {
    
   
  }
  .bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
   h6 {
      color: #fff;
      position: absolute;
    //   margin-left: 125px !important;
      background-color: rgba(24,60,118,0.9);
      padding: 10px 30px;
    }
}

}
