@import "../../variables";
@import "../../shared-styles";

.backdropClassName {
  width: 30% !important;
  @media screen and (max-width: 620px) {
    width: 100% !important;
  }
}

.leaders-profile {
  text-align: center;
  margin-bottom: 50px;
  @media screen and (max-width: 620px) {
    margin-bottom: 0px;
  }
  h4 {
    text-align: center !important;

    color: $lightblue2;
    cursor: pointer;
    @media screen and (max-width: 620px) {
      font-size: 20px !important;
      margin-left: 30px;
    }
    &:hover {
      color: $yellow;
    }
  }
  small {
    color: grey;
    cursor: pointer;
    @media screen and (max-width: 620px) {
      margin-left: 30px;
    }
  }
  img {
    height: 300px;
    // width: 100%;
    cursor: pointer;
    @media screen and (max-width: 620px) {
      height: 100px;
      width: 100px;
    }
  }
  .profile-name {
    h6 {
      color: #fff;
      // position:;
      text-align: center;
      background-color: rgba(24, 60, 118, 0.7);
      padding: 10px 30px;
      margin-top: -35px;
      margin-left: 40px;
      width: 80%;
      position: relative;
      z-index: 3;
      font-size: 12px !important;
      font-weight: bold;
      @media screen and (max-width: 620px) {
        margin-left: 0px;
        font-size: 8px !important;
        padding: 5px 70px 5px 10px;
        width: 100%;
      }
    }
  }
}
.offcanvas-profile-name {
  padding: 20px;
  height: 100px;
  text-align: center;
  background: rgb(245, 245, 245);
  margin-top: 0;
  h2 {
    color: $lightblue2;
  }
  small {
    color: grey;
  }
}
.offcanvas-leaders-profile {
  img {
    height: 600px;
  }
  .profile-portfolio {
    h6 {
      color: #fff;
      background-color: rgba(24, 60, 118, 0.7);
      padding: 10px 30px;
      position: relative;
      text-align: center;
      margin-top: -35px;
      font-size: 12px !important;
      font-weight: bold;
    }
  }
}
.offcanvas-body {
  padding: 0 !important;
  img {
    height: 500px !important;
  }
}
.offcanvas-header .btn-close {
  background: transparent !important;
  margin-bottom: -100px !important;
  position: relative;
}
.btn-close {
  // color:yellow !important;
  opacity: 1 !important;
  margin-left: 90% !important;
  border-radius: 0 !important;
  font-size: 30px !important;
  font-weight: bold !important;
  position: relative;
  z-index: 9000000000;
}
.profile-body {
  padding: 40px !important;
  p {
    line-height: 35px;
  }
}
