@import "../variables";


.breadcrumb-container {
  background: rgb(248, 248, 197);
  width: 250px;
  padding-left: 15px;
  .breadcrumb-item.active {
    color: $lightblue !important;
    opacity: 0.9 !important;
  }
}
