.accordion-body{
    ul li{
        line-height:30px;
    }
    .small-cross{
        img{
            height:
        }
    }
   
}
.accordion-button:not(.collapsed){
    background:#fff !important;
}
.accordion-item{
    border:none !important;
}

.accordion-button:focus{
    border-color:#fff !important;
    outline:none !important;
    box-shadow:none !important;
}
 .key1-list li{
        line-height:45px !important;
        span{
        font-weight:bold;
    }
    }