@import "../../variables";
@import "../../shared-styles";

.bannerEvents {
  height: 600px;
  margin-bottom: 65px;
  width: 100%;
  background: $deepblue;
  background-image: url("../../assets/vision-banner.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  @media screen and (max-width: 620px) {
    height: 300px !important;
    margin-bottom: 100px !important;
    padding-top: 50px !;
  }
}
.info-container {
  background: rgb(231, 231, 231);
  padding: 17px 0;
  border-radius: 6px;
  font-weight: 300;
}
.events-icon {
  p {
    font-size: 10px !important;
  }
  .random-button {
    padding: 3x 20px !important;
  }
}
