@import "../../variables";
@import "../../shared-styles";

.home-banners {
  width: 100%;
  height: 1000px;

  @media screen and (max-width: 620px) {
    height: 300px;
  }
}
.image-container {
  .logo-div {
    margin-top: 100px;
    p {
      font-size: 40px;
      text-align: center !important;
      line-height: 45px;
      margin-top: 20px;
      font-weight: bold;
    }
  }
  button {
    background: inherit;
    color: #fff;
    border: solid 2px $yellow;
    padding: 10px 50px;
    margin-top: 40px;
    margin-left: 30%;
    &:hover {
      background: $deepblue;
    }
  }
}
.image-container .after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1050px !important;
  color: #fff;
  display: block;
  background-image: linear-gradient(
    90deg,
    #004f9d 35%,
    rgba(0, 79, 157, 0) 100%
  );
  opacity: 0.8;
  mix-blend-mode: normal;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.prospectus-container {
  margin-top: -20px !important;
  height: 190px;
  text-align: center;
  background: rgb(0, 42, 91);
  background: linear-gradient(
    149deg,
    rgba(0, 42, 91, 1) 50%,
    rgba(0, 79, 157, 1) 50%
  );
  color: #fff;
  h1 {
    color: $yellow;
    margin-top: 30px;
  }
  img {
    margin-top: -50px;
    margin-left: 30px;
    z-index: 4;
    position: relative;
  }
  h3 {
    margin-top: 20px;
  }
  p {
    font-size: 15px;
  }
  button {
    background: inherit;
    color: #fff;
    border: solid 2px $yellow;
    padding: 8px 45px;
    margin-top: 10px;
    &:hover {
      background: $deepblue;
    }
  }
}
.sections-container {
  .overlay-container {
    position: relative;
    width: 25%;
  }

  .image {
    display: block;
    width: 100%;
    height: auto;
  }

  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    // top: 0%;
    padding-top: 75%;
    background-image: linear-gradient(rgba(11, 8, 8, 0), rgba(0, 79, 157, 0.9));
    overflow: hidden;
    width: 100%;
    height: 60%;
    transition: 0.5s ease;
  }

  .overlay-container:hover .overlay {
    height: 90%;
    padding-top: 380px;
  }

  .text {
    color: white;
    position: absolute;
    // top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    h1 {
      margin-bottom: 30px;
    }
    img {
      height: 80px;
      width: 80px;
    }
  }
}

.about-us-container {
  height: fit-content;
  text-align: center !important;
  padding: 50px 0;
  h1 {
    color: $lightblue;
    margin-bottom: 30px;
  }
  p {
    text-align: center !important;
  }
  button {
    background: inherit;
    color: $deepblue;
    font-weight: bold;
    border: solid 2px $yellow;
    padding: 8px 45px;
    margin: 50px 10px;
    &:hover {
      background: $deepblue;
      color: #fff;
    }
  }
  .button-container {
    margin-left: 140px;
  }
}
.ethos-container {
  .ethos-overlay-container {
    position: relative;
    width: 100%;
    background-image: url("../../assets/slider33.png");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding-top: 25%;
    padding-left: 25%;
    button {
      background-color: rgba(0, 79, 157, 0.9);
      padding: 10px 70px;
      color: #fff;
      border: none;
      font-size: 40px;
      span {
        border-bottom: solid 3px $yellow;
      }
    }
    &:hover button {
      display: none;
      transition: 1s ease;
    }
  }
  .ethos-overlay-container2 {
    position: relative;
    width: 100%;
    background-image: url("../../assets/about-us.png");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding-top: 25%;
    padding-left: 25%;
    button {
      background-color: rgba(0, 79, 157, 0.9);
      padding: 10px 70px;
      color: #fff;
      border: none;
      font-size: 40px;
      span {
        border-bottom: solid 3px $yellow;
      }
    }
    &:hover button {
      display: none;
      transition: 1s ease;
    }
  }
.ethos-overlay-container3 {
    position: relative;
    width: 100%;
    background-image: url("../../assets/compute.png");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding-top: 20%;
    padding-left: 40%;
    button {
      background-color: rgba(0, 79, 157, 0.9);
      padding: 10px 70px;
      color: #fff;
      border: none;
      font-size: 40px;
      span {
        border-bottom: solid 3px $yellow;
      }
    }
    &:hover button {
      display: none;
      transition: 1s ease;
    }
  }
.ethos-overlay-container4 {
    position: relative;
    width: 100%;
    background-image: url("../../assets/slider2.png");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding-top: 20%;
    padding-left: 34%;
    button {
      background-color: rgba(0, 79, 157, 0.9);
      padding: 10px 70px;
      color: #fff;
      border: none;
      font-size: 40px;
      span {
        border-bottom: solid 3px $yellow;
      }
    }
    &:hover button {
      display: none;
      transition: 1s ease;
    }
  }

  .image {
    display: block;
    width: 100%;
    height: auto;
  }

  .ethos-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgba(0, 79, 157, 0.9);
    p {
      text-align: center !important;
    }
    .link-alteration {
      color: #fff !important;
      border-bottom: solid 2px $yellow;
      &:hover {
        color: $yellow !important;
      }
    }
  }
  .ethos-overlay2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgba(0, 79, 157, 0.9);
    p {
      text-align: center !important;
    }
    .link-alteration {
      color: #fff !important;
      border-bottom: solid 2px $yellow;
      &:hover {
        color: $yellow !important;
      }
    }
  }.ethos-overlay3 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgba(0, 79, 157, 0.9);
    p {
      text-align: center !important;
    }
    .link-alteration {
      color: #fff !important;
      border-bottom: solid 2px $yellow;
      &:hover {
        color: $yellow !important;
      }
    }
  }.ethos-overlay4 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgba(0, 79, 157, 0.9);
    p {
      text-align: center !important;
    }
    .link-alteration {
      color: #fff !important;
      border-bottom: solid 2px $yellow;
      &:hover {
        color: $yellow !important;
      }
    }
  }

  .ethos-overlay-container:hover .ethos-overlay {
    opacity: 1;

    height: 100%;
    width: 100%;
  }
.ethos-overlay-container2:hover .ethos-overlay2 {
    opacity: 1;

    height: 100%;
    width: 100%;
  }.ethos-overlay-container3:hover .ethos-overlay3 {
    opacity: 1;

    height: 100%;
    width: 100%;
  }.ethos-overlay-container4:hover .ethos-overlay4 {
    opacity: 1;

    height: 100%;
    width: 100%;
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
.stats-container{
  height:fit-content;
  padding:80px 0;
  h1{
    color:$lightblue;
    font-size:60px;
  }
  .stats{
    padding:80px;
    text-align: center;
    
  }
  .stats-border{
    border-right:solid 1px $yellow;

  }
}

.actions{
  .action-box{
    text-align:center;
    border:solid 2px $yellow;
    height:fit-content;
    padding:40px 40px 40px 140px;
    margin-bottom:40px;
    color:$lightblue;
    &:hover{
      background:$lightblue;
      color:#fff;
          transition: 0.5s ease;

    }
    h5{
      margin-top:20px;
    }
    span{
      font-size:50px;
      color:$yellow;
      margin-right:20px;
    }
  }
}
.testimonials-container{
.testimonials-header{
    height:fit-content;
    background-color:$lightblue;
color:#fff;
padding:40px 0;
text-align:center;
p{
    text-align:center !important;

}
}
}
.testimonials{
    background-color:$lightblue2;
    height:550px;
    padding:40px;
}
.news-container{
  height:fit-content;
  padding: 260px 0 20px 0;
  text-align:center;
  background:rgb(250,250,250);
  h1{
    color:$lightblue;
  }
  .news-inner{
    background:#fff;
      text-align:left;
      margin-top:60px;
      padding:40px 0;
      margin-bottom: 30px;
      h4{
        color:$lightblue;
          margin-bottom:20px;

      }
small{
  color:rgb(163,186,215);
  font-size:18px;
}
p{
    margin-top:40px !important;

}
.recent-news{
  border-left:solid 1px rgb(199, 196, 196);padding-left:50px;
  h5{
    color:$yellow;
  }
  .link-alteration{
    color:$lightblue !important;
  }.link-alteration2{
    font-size:10px !important;
    text-decoration: none;
    &:hover{
      color:$yellow !important;
    }
  }
}
  }
}
.wellspring-happenings{
  background-color:#fff;
  padding:40px 0;
  text-align:left;
  h1{
    text-align:center !important;;
  }
  .news-details{
    padding-top:50px;
    padding-left:40px;
    margin-top:-30px;
    height:150px;
    width:420px;
    &:hover{
      border:solid 2px $yellow;
    }
    .link-alteration{
      color:$lightblue2 !important;
      font-weight:bold;
      font-size:20px
    }
  
  }
  .news-btn{
 button{
      padding:10px;
     background: rgb(0, 42, 91);
  background: linear-gradient(
    149deg,
    rgba(0, 42, 91, 1) 50%,
    rgba(0, 79, 157, 1) 50%
  );
      border:none;color:#fff;
      margin-top:70px !important;
      margin-left:40px;
          font-weight:600;


    }
  }
  .view-moore-btn{
    button{
      background:inherit !important;
      color:$lightblue !important;
      border:solid 2px $yellow !important;
      padding:10px 40px !important;
      &:hover{
        background:$lightblue2 !important;
        color:#fff !important;
            transition: 0.5s ease;

      }
    }
  }
}

.empty{
 background-image: url("../../assets/news-banner2.png");
    height: 600px !important;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: ;
}