.year-select {
  select {
    height: 40px !important;
    margin-left: 0px !important;
    border: solid 1px rgb(213, 211, 211);
    color: grey;
    background: #fff;
    width: 100% !important;
    box-shadow: 0 0 2px 2px rgb(199, 196, 196);
  }
  select:focus {
    border: none !important;
  }
}
