@import "../../variables";
@import "../../shared-styles";

.bannerTu {
  height: 600px;
  width: 100%;
  background: $deepblue;
  background-image: url("../../assets/building2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  @media screen and (max-width: 620px) {
    height: 300px !important;
    margin-bottom: 100px !important;
  }
}
h1 {
  color: #fff;
  font-weight: bold;
  margin-top: 40px;
}
h6 {
  color: $yellow;
}

.after2 {
  padding: 50px;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100% !important;
  height: 600px !important;
  color: #fff;
  display: block;
  background: rgba(0, 79, 157, 0.9);
  mix-blend-mode: normal;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  @media screen and (max-width: 620px) {
    height: fit-content !important;
    margin-bottom: 100px !important;
    padding: 20px 20px;
    top: 320px;
  }
}

.icon {
  small {
    color: #fff;
    font-size: 18px;
  }
}
.page-content1 {
  background: rgb(245, 245, 245);
  margin: 0;
  padding-bottom: 250px;
  .first-section {
    p {
      font-size: 19px;
    }
    img {
      margin-top: -60px;
      position: relative;
      z-index: 2;
    }
  }
}
.quote {
  background: $deepblue;
  padding-bottom: 100px;
  height: fit-content;
  h2 {
    color: #fff;
  }
  span {
    font-size: 60px;
    color: rgb(153, 184, 216);
  }
  img {
    margin-top: -60px;
    position: relative;
    z-index: 2;
  }
}
.fees-table {
  background: rgb(204, 220, 235);
  padding-bottom: 150px;
  height: fit-conent;
  button {
    background: rgb(50, 114, 177);
    border: none;
    color: #fff;
    padding: 10px 30px;
    font-size: 42px;
  }
  p {
    font-size: 20px;
    line-height: 45px;
  }
}
.table-header {
  background: $yellow;
  padding: 10px;
  color: black;
  border: solid 1px black;
  border-radius: 1px;
  font-weight: bold;
}
.tour-schedule {
  .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 79, 157, 0.8);
    color: #fff;
  }
  .image1 {
    width: 100%;
    height: 557px;
    background-image: url("../../assets/building-banner.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .yellow-logo {
    height: 80px;
    width: 80x;
  }
  // height: 550px;
  // padding: 150px;
  // margin-top: 0 !important;
  // background: $deepblue;
  // background-image: url("../../assets/building-banner.png");
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-size: cover;
  // background-position: center center;
  // h1 {
  //   font-weight: bold;
  //   margin-top: 40px;
  // }
  // p {
  //   color: #fff;
  //   font-size: 23px;
  // }
  // .after {
  //   padding: 150px;
  //   position: absolute;
  //   top: 452%;
  //   left: 0;
  //   width: 100% !important;
  //   height: 557px !important;
  //   color: #fff;
  //   display: block;
  //   background: rgba(0, 79, 157, 0.8);
  //   mix-blend-mode: normal;
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   display: flex;
  //   @media screen and (max-width: 620px) {
  //     height: fit-content !important;
  //     margin-bottom: 100px !important;
  //     padding: 20px 20px;
  //     top: 320px;
  //   }
  // }
  // .yellow-logo {
  //   height: 80px;
  //   width: 80x;
  // }
}
.ready-to-apply {
  height: 550px;
  padding: 150px;
  margin-top: 0 !important;
  background: $deepblue;
  background-image: url("../../assets/logo-girl.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  h1 {
    font-weight: bold;
    margin-top: 40px;
  }
  p {
    color: #fff;
    font-size: 23px;
  }
  .after {
    padding: 150px;
    position: absolute;
    top: 702%;
    left: 0;
    width: 100% !important;
    height: 557px !important;
    color: #fff;
    display: block;
    background: rgba(0, 79, 157, 0.9);
    mix-blend-mode: normal;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    @media screen and (max-width: 620px) {
      height: fit-content !important;
      margin-bottom: 100px !important;
      padding: 20px 20px;
      top: 320px;
    }
  }
  .yellow-logo {
    height: 80px;
    width: 80x;
  }
  .random-button {
    color: #fff;
    background-color: transparent;
    border: solid 3px $yellow;
    padding: 14px 55px;
    font-weight: bold;
    &:hover {
      background-color: $deepblue;
      transition: 0.5s ease;
      color: #fff;
    }
  }
}
.faqs-container {
  background: $deepblue;
  padding: 30px 0px 50px 0;
  h1 {
    color: $yellow;
  }
}
