
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,300);


p { margin: 0 0 15px; line-height: 24px; color: gainsboro; }

.tab-container { 
  max-width: 960px; 
  height: 100%;
  margin: 0 auto; 
  padding: 20px;
}

/* ------------------- */
/* PEN STYLES      -- */
/* ----------------- */

/* MAKE IT CUTE ----- */
