@import "../../variables";
@import "../../shared-styles";





.athletics-container{
    h4{color:$deepblue !important}
    .link-ulteration{
        color:$light;
        text-decoration:none;
        &:hover{color:#fff;}
    }
    img{
        border:solid 2px #fff;
    }
}