@import "../../variables";
@import "../../shared-styles";





.athletics-container{
    h4{color:$lightblue2 !important}
    .link-ulteration{
        color:$lightblue;
        text-decoration:none;
        &:hover{color:grey;}
    }
    img{
        border:solid 2px $deepblue;
        
    }
}