@import "../../variables";
@import "../../shared-styles";





.arts-container{
    h4{color:$yellow !important}
    .link-ulteration{
        color:$yellow;
        text-decoration:none;
        &:hover{color:#fff;}
    }
    img{
        border:solid 2px #fff;
    }
}