@import "../../variables";
@import "../../shared-styles";

.bannerF {
    height: 600px;
    margin-bottom: 65px;
    width: 100%;
    background:red;
    background-image: url("../../assets/index2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  background-position:center center;
  @media screen and (max-width:620px){
    height: 300px !important;
    margin-bottom:100px !important
  }
}

.faith-container{
.prayer-container{
  height:300px;
  background:rgb(233,233,233);
  padding:60px 40px;
  h1{
    text-align:center !important;
    color:$yellow;
  }
}
.link-alteration{
  border-bottom:solid 2px $yellow;
  color:rgb(115, 115, 115) !important;
  &:hover{
     border-bottom:solid 2px $lightblue;
  color:$lightblue !important;
  transition:
  }
}
}