@import "../../variables";
@import "../../shared-styles";

.banner {
    height: 600px;
    margin-bottom: 65px;
    width: 100%;
    background:red;
    background-image: url("../../assets/building-banner.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  background-position:center center;
  
}
.directory-buttton-pages{
  button{
    color:#fff;
  background-color:$lightblue2;
border:none !important;
margin:5px;
padding:12px 40px;
@media screen and (max-width:620px){
  
}

  }
}