.fee-navigation-container {
  background: rgb(103, 149, 196);
  padding: 20px 10px;
  .dot {
    height: 10px;
    width: 10px;
  }
  ul li {
    text-align: left;
    &:before {
      content: "o";
      
      background: red;
      color: red;
    }
  }
  .fee-links {
    font-size: 20px;
    color: rgb(60, 51, 48);
  }
}
