.fee-navigation-container {
    background:rgb(103,149,196)
  .dot {
    height: 10px;
    width: 10px;
  }
  ul li {
    text-align: left;
  }
  .fee-links {
    font-size: 16px;
    color: rgb(60, 51, 48);
  }
}
