@import "../../variables";
@import "../../shared-styles";

.banner {
  height: 400px;
  margin-bottom: 65px;
  width: 100%;
  background: $deepblue;
  background-image: url("../../assets/building-banner.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  @media screen and (max-width: 620px) {
    // height: 00px !important;
    margin-top: 40px;
    margin-bottom: 100px !important;
    transform: translateX(0%) translateY(0%);
    object-fit: cover;
  }
}
