@import "../../variables";
@import "../../shared-styles";

.banner {
    height: 600px;
    margin-bottom: 65px;
    width: 100%;
    background:$deepblue;
    background-image: url("../../assets/building-banner.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  background-position:center center;
  @media screen and (max-width:620px){
    height: 300px !important;
    margin-bottom:100px !important
  }
}
.media-container{
 
  .apple-container{
    padding:
    &:hover{
  background-color: black;
 }
     span{
  font-size: 55px !important;
  }
  }
}