@import "../../../variables";
@import "../../../shared-styles";
.mobile-accordion {
  width: 100%;
  margin: 0 !important;
  margin-top: -20px !important;
  .accordion-body {
    .logo-files a {
      font-size: initial !important;
    }
  }
  &.hide {
    display: none !important;
  }
  .accordion-item {
    border: none !important;
    margin-top: -2px !important;
  }

  .accordion-button:focus {
    border-color: inherit !important;
    outline: none !important;
    box-shadow: none !important;
  }
  .key1-list li {
    line-height: 45px !important;
    span {
      font-weight: bold;
    }
  }
  .accordion-button {
    background: rgb(0, 79, 157) !important;
    color: #fff !important;
    padding: 5px 10px;
    border: none !important;
  }
  .accordion-button .collapsed {
    background: rgb(0, 79, 157) !important;
    color: #fff !important;
    :hover {
      color: #fff !important;
    }
  }
  .accordion-item:first-of-type .accordion-button {
    border-radius: none !important;
    border: bone !important;
  }
  small {
    font-weight: bold !important;
  }
  .mobile-navs {
    color: $lightblue !important;
    text-decoration: none !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    line-height: 25px !important;
  }
}
