#benefits-box{
background:rgb(204,220,235);
padding:40px 30px;
height:300px;
&:hover{
      transform: scale(1.1);
      transition:0.5s ease;

}
h1{
    color:#fff;
    font-size:80px !important;
}
}