.css-1kp110w{
    background-color:#fff !important;
    padding:30px !important;
    color:grey;
    margin-top:40px;
    border:none !important;
        box-shadow: 0 0 1px 1px #fff !important;
        @media screen and (max-width:620px){
                border:solid 1px rgb(205, 203, 203) !important;
    padding:25px !important;

        }

}

.css-1om0uuh {
      background-color:#fff !important;
    margin-top:40px;
    margin-bottom:20px;
    height:300px !important;
        box-shadow: 0 0 1px 1px #fff !important;
@media screen and (max-width:620px){
              
    height:150px !important;

        }
}
// form{
//     background-color:rgb(182, 182, 185);
// }