@import "../../variables";
@import "../../shared-styles";


.testimonials-container{
.testimonials-header{
    height:fit-content;
    background-color:$lightblue;
color:#fff;
padding:40px 0;
text-align:center !important;
}
}