@import "../../variables";
@import "../../shared-styles";


.testimonials{
    background-color:$lightblue2;
    height:550px;
    padding:40px;
}

.testimonial-holder {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}
img{
    height:440px;

}
.testimonial-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: inherit;
  .writeup{
    padding:0 40px 40px 40px;
    margin-top:400px;
      background-color: $deepblue !important;
      color:#fff !important;text-align: center;
      p{
       text-align: center !important; 
      }
h4{
    background:$yellow;
    padding:15px 0;
    color:$deepblue;
    position:relative;z-index:4;
    &:after{
        content:'';
        background:red;
        w
    }

}
  }
  
}

.testimonial-holder:hover .testimonial-overlay {
  opacity: 1;
}

.overlay-content {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 220px;
  left: 46%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  img{
    border:solid 7px $yellow;
  }
  
}