@import "../../variables";
@import "../../shared-styles";

.testimonial-holder {
  position: relative;
  .testimonial-content {
    display: none;
    padding: 0 20px 20px 20px;
    background-color: $deepblue !important;
    @media screen and (max-width: 620px) {
      padding: 0 !important;
    }
    h2 {
      color: #004f9d;
      background: $yellow;
      padding: 2rem 0;
      text-align: center !important;
      margin-top: -30px;
      position: relative;
      z-index: 2;
      font-style: normal;
      font-size: 1.6rem !important;
      @media screen and (max-width: 620px) {
        // padding: 0 !important;
      }
    }
    h6 {
      color: #fff !important;
      text-align: center !important;
      font-weight: 200;
      line-height: 30px;
    }
    i {
      color: #fff;
      font-size: 30px;
      font-weight: 200 !important;
    }
  }
  img {
    width: 100% !important;
    &:hover {
      border: solid 7px $yellow;
      // transition: 0.5s ease;
    }
  }
}
.testimonial-holder:hover .testimonial-content {
  display: block;
}
