@import "../../variables";
@import "../../shared-styles";

.bannerC {
    height: 600px;
    margin-bottom: 65px;
    width: 100%;
    background:$deepblue;
    background-image: url("../../assets/index2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  background-position:center center;
  @media screen and (max-width:620px){
    height: 300px !important;
    margin-bottom:100px !important
  }
}

.contact-container{
border: solid 1px #fff;
border-radius:5px;
height:fit-content;
padding:20px;
box-shadow:0 0 2px 2px grey;
}