@import "../../../variables";
@import "../../../shared-styles";

#tab-container {
  margin: 0 auto;
  display: block;
  width: 100%;
  > *:not(.tab-wrap) {
    padding: 0 80px;
  }
  p {
    color: grey !important;
    font-size: 17px;
    margin-right: 10px;
    @media screen and (max-width: 620px) {
      // padding: 0 120px;
    }
  }
  .info {
    background: rgb(237, 239, 240);
    padding: 25px;
    border-radius: 7px;
  }
  $max-tab-count: 2;
  $tab-wrap-border-radius: 6px;
  .tab-wrap {
    transition: 0.3s box-shadow ease;
    max-width: 100%;
    display: block;
    flex-wrap: wrap;
    position: relative;
    list-style: none;
    background-color: #fff;
    &:hover {
    }
  }

  .tab {
    @media screen and (max-width: 620px) {
      margin-top: 10px;
    }
    box-shadow: 0px 10px 10px;

    @for $i from 1 through $max-tab-count {
      &:checked:nth-of-type(#{$i}) ~ .tab__content:nth-of-type(#{$i}) {
        opacity: 1;
        transition: 0.5s opacity ease-in, 0.8s transform ease;
        position: relative;
        top: 0;
        z-index: 100;
        transform: translateY(0px);
        text-shadow: 0 0 0;
      }
    }
    &:first-of-type:not(:last-of-type) + label {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:not(:first-of-type):not(:last-of-type) + label {
      border-radius: 0;
    }
    &:last-of-type:not(:first-of-type) + label {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &:checked + label {
      background-color: #fff;
      box-shadow: 0 -1px 0 #fff inset;
      cursor: default;
      &:hover {
        box-shadow: 0 -1px 0 #fff inset;
        background-color: #fff;
      }
    }
    + label {
      cursor: pointer;
      display: block;
      text-decoration: none;
      color: rgb(157, 153, 153);
      // text-align: center;
      user-select: none;
      // text-align: center;
      transition: 0.3s background-color ease, 0.3s box-shadow ease;
      padding: 5px;
      font-size: 14px;
      margin-left: 20px;
      margin-top: -23px;
      @media screen and (max-width: 620px) {
        // margin-top: 0px;
      }
    }
    &__content {
      position: absolute;
      width: 100%;
      z-index: -1;
      opacity: 0;
      left: 0;
      transform: translateY(-3px);
    }
  }

  .cool-link::after {
    content: "";
    display: block;
    width: 0;
    height: 4px;
    background: $lightblue !important;
    transition: width 0.3s;
    position: relative;
    z-index: 300000000000000;
  }

  .cool-link:hover::after {
    width: 100%;
    //transition: width .3s;
  }
}
