@import "../../../../variables";
@import "../../../../shared-styles";

.tab-content-container {
text-align: left !important;

  .tab-content-paragraph {
    p {
      text-align: justify !important;
      font-weight:300;
      line-height:35px;
      width:350px;
    }
    h4{
        color:$yellow !important;
    }
    small{
        font-weight:300;
    }
  }
  img{
    border:solid 2px #fff;
    margin-bottom:40px;
  }
   .tab-btn {
    margin-left: 12% !important;
    margin-bottom: 40px;
    @media screen and (max-width: 620px) {
      margin-left: 20% !important;
      height: 100px !important;
    }
  }
  .link-alteration
}
