@import "../../../../variables";
@import "../../../../shared-styles";

.tab-content-container {
  .tab-content-paragraph {
    p {
      text-align: justify !important;
      font-weight:300;
      line-height:35px;
      width:350px;
    }
    h4{
        color:$yellow !important;
    }
    small{
        font-weight:300;
        text-align: left !;
    }
  }
}
